@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: theme('colors.cream');
    color: theme('colors.black');
    cursor: default;
  }

  ::selection {
    background-color: theme('colors.red');
    color: theme('colors.cream');
  }
}
