@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  html {
    background-color: theme('colors.cream');
    color: theme('colors.black');
    cursor: default;
    overflow-x: clip;
  }

  body {
    overflow-x: clip;
  }

  ::selection {
    background-color: theme('colors.red');
    color: theme('colors.cream');
  }

}
